<header [ngClass]="{'scrolled': isScrolled}" class="header">
    <div class="container">
      <h1 class="logo">Medical Appointment</h1>
      <nav class="nav">
        <ul class="nav-links">
          <li><a routerLink="/" class="nav-link">Home</a></li>
          <li><a routerLink="/page-service" class="nav-link">Services</a></li>
          <li><a routerLink="/about-us" class="nav-link">About Us</a></li>
          <li><a routerLink="/contact" class="nav-link">Contact</a></li>
        </ul>
      </nav>
      <nav class="auth">
        <a routerLink="/login" class="auth-link">Login</a>
        <a routerLink="/register" class="auth-link">Register</a>
      </nav>
    </div>
  </header>
  