<header [ngClass]="{'scrolled': isScrolled}" class="header">
  <div class="container">
    <h2 class="logo">Medical Appointment</h2>

    <!-- Botón del menú hamburguesa -->
    <div class="burger" (click)="toggleMenu()">
      <i class="fa-solid" [ngClass]="isMenuOpen ? 'fa-xmark' : 'fa-bars'"></i>
    </div>

    <!-- Menú de navegación -->
    <nav class="nav" [ngClass]="{'is-open': isMenuOpen}">
      <ul class="nav-links">
        <li><a href="#" class="nav-link">Home</a></li>
        <li><a href="#" class="nav-link">About Us</a></li>
        <li><a href="#" class="nav-link">Contact</a></li>
        <!-- Agregar el enlace de Cuenta al menú en pantallas pequeñas -->
        <li class="auth-link-mobile" *ngIf="isMenuOpen"><a href="#" class="nav-link">Account</a></li>
      </ul>
    </nav>

    <!-- Botón de cuenta en pantallas grandes -->
    <div class="auth">
      <a href="#" class="auth-link">Account</a>
    </div>
  </div>
</header>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
  crossorigin="anonymous" referrerpolicy="no-referrer" />