<div class="container">
  <div class="wrapper">
    <form>
      <h2>Register</h2>
      <div class="input-field">
        <input type="text" id="name" required>  
        <label for="email">Enter your Name</label>
      </div>
      <div class="input-field">
        <input type="text" id="phone" required>  
        <label for="email">Enter your phone</label>
      </div>
      <div class="input-field">
        <input type="text" id="email" required>  
        <label for="email">Enter your email</label>
      </div>
      <div class="input-field">
        <input type="password" id="password" required>
        <label for="password">Enter your password</label>
      </div>
      <div class="input-field">
        <input type="password" id="confirm-password" required>
        <label for="confirm-password">Confirm your password</label>
      </div>
      <button type="submit">Register</button>
      <div class="login">
        <p>Already have an account? <a href="/sign-in">Log In</a></p>
      </div>
    </form>
  </div>
</div>
