<div class="container">
  <div class="wrapper">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h2>Register</h2>

      <!-- Nombre -->
      <div class="input-field">
        <input type="text" formControlName="names" placeholder="Enter your Name" />
      </div>

      <!-- Teléfono -->
      <div class="input-field">
        <input type="text" formControlName="phone" placeholder="Enter your phone" />
      </div>

      <!-- Correo electrónico -->
      <div class="input-field">
        <input type="email" formControlName="email" placeholder="Enter your email" />
      </div>

      <!-- Contraseña -->
      <div class="input-field">
        <input type="password" formControlName="password" placeholder="Enter your password" />
      </div>

      <!-- Confirmar contraseña -->
      <div class="input-field">
        <input type="password" formControlName="confirmPassword" placeholder="Confirm your password" />
      </div>

      <button type="submit" [disabled]="registerForm.invalid">Register</button>

      <div class="login">
        <p>Already have an account? <a [routerLink]="['/auth/sign-in']">Log In</a></p>
      </div>

    </form>
  </div>
</div>