<button class="sidebar-menu-button">
  <span class="material-symbols-rounded">menu</span>
</button>

<aside class="sidebar">

  <header class="sidebar-header">
    <a href="#" class="header-logo">
      <img src="../../../../assets/img/dr1.png" alt="CodingNepal" /></a>
    <button class="sidebar-toggler">
      <span class="material-symbols-rounded">chevron_left</span>
    </button>
  </header>

  <nav class="sidebar-nav">

    <!-- Primary Top Nav -->
<ul class="nav-list primary-nav">
  <li
    class="nav-item"
    *ngFor="let item of menuItems"
    [ngClass]="{ 'dropdown-container': item.children }"
  >
    <!-- Enlace principal o toggle de dropdown -->
    <a
      class="nav-link"
      [routerLink]="!item.children ? item.route : null"
      href="#"
      [ngClass]="{ 'dropdown-toggle': item.children }"
    >
      <span class="material-symbols-rounded">{{ item.icon }}</span>
      <span class="nav-label">{{ item.label }}</span>
      <span
        *ngIf="item.children"
        class="dropdown-icon material-symbols-rounded"
      >keyboard_arrow_down</span>
    </a>

    <!-- Dropdown dinámico -->
    <ul class="dropdown-menu" *ngIf="item.children">
      <li class="nav-item">
        <a class="nav-link dropdown-title">{{ item.label }}</a>
      </li>
      <li
        class="nav-item"
        *ngFor="let child of item.children"
      >
        <a class="nav-link dropdown-link" [routerLink]="child.route">
          {{ child.label }}
        </a>
      </li>
    </ul>
  </li>
</ul>





    <!-- Secondary Bottom Nav -->
    <ul class="nav-list secondary-nav">

      <li class="nav-item">
        <a [routerLink]="getProfileLink()" class="nav-link">
          <span class="material-symbols-rounded">account_circle</span>
          <span class="nav-label">Profile</span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a class="nav-link dropdown-title">Profile</a></li>
        </ul>
      </li>



      <!--log out-->>
      <li class="nav-item">
        <a class="nav-link" (click)="onLogout()">
          <span class="material-symbols-rounded">logout</span>
          <span class="nav-label">Sign Out</span>
        </a>
        <ul class="dropdown-menu">
          <li class="nav-item"><a class="nav-link dropdown-title">Sign Out</a></li>
        </ul>
      </li>

    </ul>

  </nav>
</aside>
