/* Contenedor principal */
.main-container {
    display: flex;
    transition: margin-left 0.4s ease;
  }
  
  .content {
    flex-grow: 1;
    transition: margin-left 0.4s ease;
    padding: 20px;
    margin-left: 270px; /* Ancho del sidebar expandido */
  }
  
  /* Cuando el sidebar se colapsa, el contenido se ajusta */
  .main-container.sidebar-collapsed .content {
    margin-left: 85px; /* Ancho del sidebar colapsado */
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 270px;
    height: 100vh;
    background: #151A2D;
    transition: all 0.4s ease;
  }
  
  .sidebar.collapsed {
    width: 85px; /* Sidebar colapsado */
  }
  